<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
</head>
<body>
	<%= _.template(require('./includes/header.html').default)(data) %>
	<%= _.template(require('./includes/create.html').default)(data) %>
	<%= _.template(require('./includes/advantages.html').default)(data) %>
	<%= _.template(require('./includes/monetize.html').default)(data) %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.carousel').slick({
        autoplay: true,
        infinite: true,
        slidesToShow: 8,
        arrows: false,
      });
    });
  </script>
</body>
</html>


