@import "../base/variables";

#video_container {
 bottom: 0;
 left: 0;
 position: absolute;
 top: 0;
 z-index: -1;
}
#bgvid {
 min-width: 100%;
 min-height: 100vh;
}

.devstar  {
	top: 25%;
    left: 20%;
    position: absolute;
}
.fullpage-wrapper {
background: radial-gradient(circle, rgba(216,219,231,0) 0%, rgba(57,58,61,0.5914740896358543) 18%, rgba(0,0,0,0.7399334733893557) 38%);
}
.logo {

}
img {
	width: 70px;
	height: 70px;
}
ul {
	display: flex;
    align-items: center;
    right: 60px;
    position: absolute;
    top: 30px;
}
li {
	margin-left: 30px;
}