@import "../base/variables";

#video_container {
 bottom: 0;
 left: 0;
 position: absolute;
 top: 0;
 z-index: -1;
}
#bgvid {
 min-width: 100%;
 min-height: 100vh;
}

.devstar  {
	top: 25%;
    left: 20%;
    position: absolute;

    h3 {
	font-size: $heading-font-size;
	}
}
